14 XML Schema Student List/studentlist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="studentlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="enrollmentno" type="xs:string"/>

              <xs:element name="name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="firstname" type="xs:string"/>
                    <xs:element name="middlename" type="xs:string" minOccurs="0"/>
                    <xs:element name="lastname" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="study_program">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="BSc"/>
                    <xs:enumeration value="MSc"/>
                    <xs:enumeration value="MSW"/>
                    <xs:enumeration value="MBA"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="enrolment_year" type="xs:gYear"/>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
